{% extends 'base.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/task_form.css' %}">
{% endblock style %}

{% block content %}
    <h1>Authenticate Yourself...</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.tags }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        
        <button type="submit">LogIn</button>
    </form>
{% endblock content %}

