{% extends 'base.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/task_form.css' %}">
{% endblock style %}

{% block content %}
    <h1>Change the data below...</h1>
    
    <!-- for-loop Rendering with asterisk for required fileds -->
    <form method="post" >
        {% csrf_token %}
        {% for field in form %}
            <div>
                <!-- Displaying label of each field -->
                <label for="{{ field.id_for_label }}">
                                        <!-- Removing : for first field which has ? already -->
                        {{ field.label }}{% if field.label != 'What is to be done?' %}:{% endif %}
                    
                    <!-- Marking only required field with red asterisk -->
                    {% if field.field.required %}
                        <span style="color: red;">*</span>
                    {% endif %}
                </label>

                <!-- Displaying Help text only if it available in specific field -->
                {% if field.help_text %}
                        <small><li class="help-text">{{ field.help_text }}</li></small>
                {% endif %}

                <!-- Displaying error messages if any occurs for specific fields -->
                {% if field.errors %}
                        {% for error in field.errors %}
                            <small><li class="error-message">{{ error }}</li></small>
                        {% endfor %}
                {% endif %}
                
                <!-- Displaying input fields -->
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Add Task</button>
    </form>
{% endblock content %}

