{% extends 'base.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/task_list.css' %}">
{% endblock style %}

{% block content %}
    <h1>Your works to do...</h1>
    <div>
        {% for task in tasks %}
            <div>
                <h3>
                    <a href="{% url 'task-detail' task.id %}">
                    <!-- task.id extracts id from task dictionary -->
                        {{ forloop.counter }}. {{ task.title }}
                    </a>
                </h3>
                <p>About: {{ task.about|truncatewords:3 }}</p>
                <!-- Short info (truncatewords:3 chops only word)-->
            </div>
        {% endfor %}
    </div>
{% endblock content %}